
body {
  margin: 0;
  padding: 0;
}
/*
#board {
  width: 900px;
  height: 500px;
  background-color: black;
  border: darkorange 8px solid;
  margin: auto;
  margin-top:80px;
  box-shadow:0 0 50px black;
}

.paddle {
  width: 10px;
  height: 80px;
  background-color: darkorange;
  border: white 2px solid;
}

#paddle1 {
  margin-left: 78px;
  margin-top: 200px;
  position: absolute;
}

#paddle2 {
  margin-left: 808px;
  margin-top:200px;
  position: absolute;
}

#net {
  width: 10px;
  height: 496px;
  position: relative;
  background-color: darkgray;
  margin-left: 441px;
  border: gray 2px dashed;
}

#ball  {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-left: 200px;
  margin-top:250px;
  position: absolute;
}

.score span {
  display: inline-block;
  font-size: 2em;
}

#score1{
  color: #c30c0c
}

#score2{
  color: #0c66c3
}

#keys1{
 color: #c30c0c
}

#keys2{
  color: #0c66c3
 }

.left {
}

.right {
}

button {
}

#winner {
}

#winner.hide {
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
*/
#board {
  height: 600px;
  width: 900px;
  top: 0px;
  left: 0px;
  background-color: #25bf18;
  position: relative;
  float:left;
 }

 .paddle {
  height: 80px;
  width: 20px;
  position: absolute;
 }

 #paddle1 {
  background-color: #c30c0c;
  top: 250px;
  left: 40px;
 }

 #paddle2 {
  background-color: #0c66c3;
  top: 250px;
  left: 840px;
 }

 #net {
   height: 100%;
   width: 1px;
   background:black;
   position:relative;
   margin:Auto;
 }

 #ball {
  height: 20px;
  width: 20px;
  background-color: #fff;
  top: 290px;
  left: 440px;
  position: absolute;
  border-radius: 25px;
 }
 #leyend {
   margin-left:950px;
   padding-top:50px;
 }
 #start {
   height: 50px;
   width: 150px;
   border:none;
   background-color:orange;
   box-shadow: 1px 1px 1px 1px gray;
   margin-bottom: 30px;
 }
 .score span {
   display: inline-block;
   font-size: 3em;
 }
