@import 'partials/vars'
@import 'partials/board'
@import 'partials/legend'
@import 'partials/buttons'

body
  font-family: $primary-font

header
  text-align: center

h1
  color: $background-red
  margin: 0
  padding: 0
  font:
    size: 100px

.leyend
  background-color: $background-red
  border: solid 10px black
    radius: 0 0 10px 10px
  margin: 0 50%
  left: -460px
  display: inline-block
  position: relative
  width: 900px

  &__key1
    display: inline-block
    margin-left: 210px
  &__key2
    display: inline-block
    margin-right: 60px

  &__score
    display: inline
    position: absolute
    span
      font-size: 3em
  &__score1
    margin-left: 25px
  &__score2
    margin-right: 35px



.start
  background-color: red
  color: #fff
  border: none
    radius: 4px
  margin: 0 70px 30px 85px
  padding: 12px 18px
