@import 'partials/vars'
@import 'partials/board'
@import 'partials/legend'
@import 'partials/buttons'

body
  font-family: $primary-font

header
  text-align: center

h1
  color: $background-red
  margin: 0
  padding: 0
  font:
    size: 100px
