.leyend
  background-color: $background-red
  border: solid 10px black
    radius: 0 0 10px 10px
  margin: 0 50%
  left: -460px
  display: inline-block
  position: relative
  width: 900px

  &__key1
    display: inline-block
    margin-left: 30px
  &__key2
    display: inline-block
    margin-right: 60px

  &__score
    display: inline
    span
      font-size: 3em
  &__score1
    span
      margin: 10px 0 0 20px
