body {
  margin: 0;
  padding: 0; }

#board {
  height: 600px;
  width: 900px;
  top: 0px;
  left: 0px;
  background-color: #25bf18;
  position: relative;
  float: left; }

.paddle {
  height: 80px;
  width: 20px;
  position: absolute; }

#paddle1 {
  background-color: #c30c0c;
  top: 250px;
  left: 40px; }

#paddle2 {
  background-color: #0c66c3;
  top: 250px;
  left: 840px; }

#net {
  height: 100%;
  width: 1px;
  background: black;
  position: relative;
  margin: Auto; }

#ball {
  height: 20px;
  width: 20px;
  background-color: #fff;
  top: 290px;
  left: 440px;
  position: absolute;
  border-radius: 25px; }

#leyend {
  margin-left: 950px;
  padding-top: 50px; }

#start {
  height: 50px;
  width: 150px;
  border: none;
  background-color: orange;
  box-shadow: 1px 1px 1px 1px gray;
  margin-bottom: 30px; }

.score span {
  display: inline-block;
  font-size: 3em; }
